@charset "UTF-8";

h1{

	display: flex;
	flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#boardselect_form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.boardselect{
    width: 200px;      /*해당 width 설정해 둘 사이 간격 설정*/
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#faq:hover , #qna:hover{
	background: #ccc;
	color: white;
}

.list-all-box{
	margin-top: 20px;
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.qna_no{
	width: 10%;
	text-align: center;
}
.qna_writer{
	width: 15%;
	text-align: center;
}
.qna_title{
	width: 25%;
	text-align: center;
}
.qna_content{
	width: 40%;
	text-align: center;
}
.qna_date{
	width: 10%;
	text-align: center;
}
div.search{
	margin-left: 32px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
