@charset "UTF-8";

h1{

	display: flex;
	flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
section.body{
	display: flex;
	justify-content: center;
}
td, th{
	border: 1px solid #eeeeee;
}


#pointer{
	cursor: pointer;
	background-color: #222;
	color: #fff;
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	margin: 4px;
	max-width: 180px;
	text-decoration: none;
	border-radius: 4px;
	padding: 12px 25px;
	cursor: pointer;
}
#pointer:hover{
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(92,134, 255, 0.7) 0 0px 0px 40px inset;
}
#boardselect_form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.boardselect{
    width: 200px;      /*해당 width 설정해 둘 사이 간격 설정*/
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#faq:hover , #qna:hover{
	background: #ccc;
	color: white;
}

.list-all-box{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.qna_no{
	width: 10%;
	text-align: center;
}
.qna_writer{
	width: 15%;
	text-align: center;
}
.qna_title{
	width: 25%;
	text-align: center;
}
.qna_content{
	width: 40%;
	text-align: center;
}
.qna_date{
	width: 10%;
	text-align: center;
}
div.search{
	margin-left: 32px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
#keywordInput{
	font-size: 16px;
	height: 40px;
	margin-top: 40px;
	width: 370px;
	padding-left: 20px;
	padding-right: 46px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
input[type="text"] {
  margin: 0 0 1em;
  background: #fff;
  border-radius: 1.5em;
  resize: none;
  outline: none;
}
input[type="text"]#keywordInput:focus{
	border-color: #00bafa;
}
input[type="image"]#searchBtn:focus{
	border-color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before {
  color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before,
input[type="text"][required]:valid + label[placeholder]:before {
  transition-duration: 0.2s;
  transform: translate(0, -1.5em) scale(0.9, 0.9);
}
input[type="text"][required]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}
input[type="text"][required] + label[placeholder] {
  display: block;
  pointer-events: none;
  line-height: 1.25em;
  margin-left: -187px;
  margin-top: calc(-3em - -2px);
  margin-bottom: calc((3em - 1em) + 2px);
}
input[type="text"][required] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 calc(1em + 2px);
  padding: 0 2px;
  color: #898989;
  white-space: nowrap;
  transition: 0.3s ease-in-out;
  background-image: linear-gradient(to bottom, #fff, #fff);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: center;
}
#searchOption{
	padding: 0px 5px;
	position: absolute;
	margin-left: -100px;
	margin-top: 40px;
	font-size: 16px;
	height: 40px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 1.5em;
}
#searchBtn{
	padding: 10px;
	margin: -50px;
	margin-top: 40px;
	position: absolute;
	width: 40px;
	height: 40px;
	box-sizing: border-box;
}
.page-list{
	margin-top: 15px;
	background-color: #fff;
    outline: none;
    border: 1px solid;
}










