header{
	display: flex;
	justify-content: center
}
section{
	display: flex;
	justify-content: center
}

.main-all-box{
	width: 900px;
}
.top-box-content{
	width: 500px;
	flex-wrap: wrap;
}
.catagory{
	display: flex;
} 
.writer{
	display: flex;	
}
.title{
	display: flex;
}
.content{
	display: flex;
}