section.body{
	display: flex;
	justify-content: center;
	margin-top: 40px;
}
textarea{
	width: 300px;
	height: 100px;
}

.title-text{
	justify-content: center;
	display: flex;
}

.box-body{
	justify-content: center;
	width: 400px;
	height: 400px;
	margin: 0 auto;
}
.content-box-body{
	justify-content: center;
	width: 900px;
	height: 500px;
	margin-top: 100px;
}
.box-top{
	justify-content: center;
}
.box-top > div{
	border-bottom: 1px solid #ccc;
}
.button-form{
	margin-top: 20px;
}








footer{
	text-align: center;
	margin: -25px;
	height: 40px;
	width: 100%;
}