#mainform{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
}
#titleform{
    width: 900px;
    user-select: none;
}
.list{
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    width: 900px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
    user-select: none;
    cursor:pointer ;
}
#region{
	width: 100px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#date{
	width: 120px;
	height: 70px;
	display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#date_status{
    width: 100%;
    height: 35px;
}
#date_info{
    width: 100%;
    height: 35px;
}
#time{
	width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#stadium{
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
}
#person{
	width: 130px;
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#state{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pagingform{
    width: 900px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#pagingform .buttons{
    width: 30px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    outline: 0;
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
}
a{
    color: black;
	text-decoration-line: none;
}
#prevbutton{
    margin-right:3px;
    cursor: pointer;
    outline: 0;
    background-color: #ffffff;
    border: 1px solid #eee;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
}
#prevbutton:hover{
    color: #CDDEFF;
    background-color: #676FA3;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
#nextbutton{
    margin-left:3px;
    cursor: pointer;
    outline: 0;
    background-color: #ffffff;
    border: 1px solid #eee;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
}
#nextbutton:hover{
    color: #CDDEFF;
    background-color: #676FA3;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
#pagingnum{
    margin-left:5px;
    margin-right:5px;
    cursor: pointer;
    outline: 0;
    background-color: #ffffff;
    border: 1px solid #eee;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
}
#pagingnum:hover{
    color: #CDDEFF;
    background-color: #676FA3;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
#serchform{
    width: 900px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#serchform div{
	width: 400px;
    height: 50px;
}
#serchform div #search{
    font-size: 16px;
    width: 320px;
    height: 20px;
    padding: 10px;
    border: 0px;
    outline: none;
    float:left;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
}
#serchform div #button{
    width: 32px;
    height: 32px;
    border: 0px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    cursor:pointer;
}

/*#sta_but{
    border: 0;
    outline: 0;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    background-color: #00bafa;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}*/


#keywordInput{
    font-size: 16px;
    height: 40px;
    width: 360px;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 46px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type="text"] {
    margin: 0 0 1em;
    background: #fff;
    border-radius: 1.5em;
    resize: none;
    outline: none;
}
input[type="text"]#keywordInput:focus{
    border-color: #00bafa;
}
input[type="image"]#searchBtn:focus{
    border-color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before {
    color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before,
input[type="text"][required]:valid + label[placeholder]:before {
    transition-duration: 0.2s;
    transform: translate(0, -2em) scale(0.9, 0.9);
}
input[type="text"][required]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
}
input[type="text"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    margin-left: 25px;
    margin-top: calc(-3em - -2px);
    margin-bottom: calc((3em - 1em) + 2px);
}
input[type="text"][required] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    padding: 0 5px;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
}

#searchBtn{
    padding: 10px;
    margin-left: 340px;
    margin-top: -65px;
    position: absolute;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}


#pointer{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 0 0 2px rgba(211, 211, 211, 0.5) inset;
    margin: auto;
    padding: 1rem 3rem;
    position: relative;
    cursor: pointer;
    margin: -100px;
}
#pointer::before, #pointer::after {
    content: "";
    position: absolute;
    height: 0;
    width: 2px;
    transition: height 0.4s 0.4s cubic-bezier(0.86, 0, 0.07, 1), width 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
#pointer::before {
    box-shadow: 2px 2px 0 #00bafa inset;
    bottom: 0;
    left: 0;
}
#pointer::after {
    box-shadow: -2px -2px 0 #00bafa inset;
    top: 0;
    right: 0;
}
#pointer:hover::before, #pointer:hover::after {
    height: 100%;
    width: 100%;
    border-radius: 0.5em;
    transition: height 0.4s cubic-bezier(0.86, 0, 0.07, 1), width 0.4s 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
*, ::before, ::after{
    box-sizing: inherit;
}