#mainform{
    width: 800px;
    min-height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#titleform{
    width: 800px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#top_form{
    width: 800px;
    min-height: 730px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.font{
	font-size: 15px;
	font-weight: bold;
    user-select: none;
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
}
.info{
    width: 420px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.inputform{
    width: 250px;
    height: 35px;
}
#region_form{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#stadium_name_form{
    width: 100%;
    height: 80px;
    display: flex;
	flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#stadium_addr_form{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.addr_title{
    width: 180px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: bold;
    user-select: none;
}
.addr_info{
    width: 280px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.button_form{
    width: 140px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
#addr_button{
    width: 80px;
    height: 40px;
    border: 0;
    outline: 0;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    background-color: #bfb5d7;
    color: #ffffff;
    border-radius: 5px;
}
#game_date_form{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#game_date{
    width: 253px;
    height: 30px;
}
#game_time_form{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.time_form{
    width: 253px;
    height: 30px;
}
#game_player_form{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#mergency_form{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#mergency_title{
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    user-select: none;
}
#mergency_yn_form{
    width: 620px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.radio_form{
    width: 125px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.radio_button{
    width: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.radio_comment{
    width: 55px;
    height: 100%;
    display: flex;
    align-items: center;
}
.radio{
    width: 15px;
    height: 15px;
}
.radio_ss{
    width: 15px;
    height: 15px;
}
.radio_comment{
    font-weight: bold;
    font-size: 15px;
    user-select: none;
}
#mergency_player_form{
    width: 620px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#mergency{
    width: 350px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
#mergency_player_title{
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
}
#mergency_player_input_form{
    width: 230px;
    height: 100%;
    display: flex;
    justify-content: center;
}
#player_input{
    width: 200px;
    height: 30px;
}
#game_type_form{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    user-select: none;
}
#game_content_form{
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.content_title_form{
    width: 180px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}
#content_title{
    width: 180px;
    height: 30%;
    font-size: 15px;
    font-weight: bold;
    user-select: none;
    display: flex;
    align-items: center;
}
#textarea{
    width: 500px;
    height: 160px;
    resize: none;
    border: 1px solid rgba(140,140,140,0.71);
    outline: 0;
    font-family: "Open Sans", Arial, Verdana;
    font-weight: bold;
    font-size: 15px;
}
#button_form{
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#button{
    width: 200px;
    height: 60px;
    border: 0;
    outline: 0;
    font-size: 25px;
    font-weight: bold;
    user-select: none;
    background-color: #bfb5d7;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
input{
    border: 0;
    border-bottom:1px solid lightgray;
}

#pointer{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 0 0 2px rgba(211, 211, 211, 0.5) inset;
    margin: auto;
    padding: 1rem 3rem;
    position: relative;
    cursor: pointer;
    margin: -100px;
}
#pointer::before, #pointer::after {
    content: "";
    position: absolute;
    height: 0;
    width: 2px;
    transition: height 0.4s 0.4s cubic-bezier(0.86, 0, 0.07, 1), width 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
#pointer::before {
    box-shadow: 2px 2px 0 #00bafa inset;
    bottom: 0;
    left: 0;
}
#pointer::after {
    box-shadow: -2px -2px 0 #00bafa inset;
    top: 0;
    right: 0;
}
#pointer:hover::before, #pointer:hover::after {
    height: 100%;
    width: 100%;
    border-radius: 0.5em;
    transition: height 0.4s cubic-bezier(0.86, 0, 0.07, 1), width 0.4s 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
*, ::before, ::after{
    box-sizing: inherit;
}