#mainform{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
}
#titleform{
    width: 900px;
    user-select: none;
}
.list{
    background-color: lightgray;
    width: 900px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
    user-select: none;
    cursor:pointer ;
}
#region{
	width: 100px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#date{
	width: 120px;
	height: 70px;
	display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#date_status{
    width: 100%;
    height: 35px;
}
#date_info{
    width: 100%;
    height: 35px;
}
#time{
	width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#stadium{
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
}
#person{
	width: 130px;
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#state{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pagingform{
    width: 900px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#pagingform button{
    width: 25px;
    height: 25px;
    font-size: 10px;
    font-weight: bold;
    border: 0;
    outline: 0;
    color: lightgray;
}
a{
    color: black;
	text-decoration-line: none;
}
#prevbutton{
    margin-right:3px;
    cursor: pointer;
    border: 0;
    outline: 0;
    background-color: #676FA3;
    color: #CDDEFF;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
}
#nextbutton{
    margin-left:3px;
    cursor: pointer;
    border: 0;
    outline: 0;
    background-color: #676FA3;
    color: #CDDEFF;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
}
#pagingnum{
    margin-left:5px;
    margin-right:5px;
    cursor: pointer;
    border: 0;
    outline: 0;
    background-color: #676FA3;
    color: #CDDEFF;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
}
#serchform{
    width: 900px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#serchform div{
	width: 400px;
    height: 40px;
    border: 1px solid black;
}
#serchform div #search{
    font-size: 16px;
    width: 330px;
    height: 20px;
    padding: 10px;
    border: 0px;
    outline: none;
    float:left;
}
#serchform div #button{
    width: 50px;
    height: 100%;
    border: 0px;
    outline: none;
    float: right;
    cursor:pointer;
}
