#mainform{
    width: 900px;
    min-height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#titleform{
    width: 900px;
    user-select: none;
}
#top_form{
    width: 800px;
    min-height: 730px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.font{
	font-size: 15px;
	font-weight: bold;
    user-select: none;
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
}
.info{
    width: 620px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.inputform{
    width: 250px;
    height: 35px;
}
#region_form{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#stadium_name_form{
    width: 100%;
    height: 80px;
    display: flex;
	flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#stadium_addr_form{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.addr_title{
    width: 180px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: bold;
    user-select: none;
}
.addr_info{
    width: 280px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.button_form{
    width: 340px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
#addr_button{
    width: 80px;
    height: 40px;
    border: 0;
    outline: 0;
    color: white;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    background-color: #166cea;
}
#game_date_form{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#game_date{
    width: 253px;
    height: 30px;
}
#game_time_form{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.time_form{
    width: 253px;
    height: 30px;
}
#game_player_form{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#mergency_form{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#mergency_title{
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    user-select: none;
}
#mergency_yn_form{
    width: 620px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.radio_form{
    width: 125px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.radio_button{
    width: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.radio_comment{
    width: 55px;
    height: 100%;
    display: flex;
    align-items: center;
}
.radio{
    width: 15px;
    height: 15px;
}
.radio_comment{
    font-weight: bold;
    font-size: 15px;
    user-select: none;
}
#mergency_player_form{
    width: 620px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#mergency{
    width: 350px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
#mergency_player_title{
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
}
#mergency_player_input_form{
    width: 230px;
    height: 100%;
    display: flex;
    justify-content: center;
}
#player_input{
    width: 200px;
    height: 30px;
}
#game_content_form{
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.content_title_form{
    width: 180px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}
#content_title{
    width: 180px;
    height: 30%;
    font-size: 15px;
    font-weight: bold;
    user-select: none;
    display: flex;
    align-items: center;
}
#textarea{
    width: 66%;
    height: 160px;
    resize: none;
}
#button_form{
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#button{
    width: 200px;
    height: 60px;
    border: 0;
    outline: 0;
    font-size: 25px;
    font-weight: bold;
    user-select: none;
    color: white;
    cursor: pointer;
    background-color: #166cea;
}

