header{
	position: sticky;
	overflow: hidden;
	width: 100%;
	height: auto;
}
section{
	display: flex;
	justify-content: center;
}
.site-logo{
	display: flex;
}
ul li{
	list-style-type: none;
	float: left;
	padding: 0px;
	margin-left: 10px;
}

