section.body{
	display: flex;
	justify-content: center;
}
textarea{
    width: 100%;
    height: 6.25em;
    resize: none;
}
.top-box-content{
	width: 700px;
	flex-wrap: wrap;
	}
.chk-position{
	cursor: pointer;
}
.title-text{
	display: flex;
	justify-content: center;
	background-color: #f8f8f8;
	border-bottom: 1px solid #ccc;
}
.writer-name{
	background-color: #ffffff;
	border-bottom: 1px solid #ccc;
}
#explain-text{
	font-size: 11px;
}
#position-text{
	font-size: 16px;
}
.content-rate{
	display: flex;
}
.content-rate-detail{
	display: flex;
	flex-direction: row;
}
.select-position-detail{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.content-submit{
	margin-right: 60px;
}
#pointer{
	cursor: pointer;
}
.chk-rate{
	width: 60px;
	height: 50px;
	margin: 5px;
	color: black;
	background-color: rgb(185, 185, 185);
	cursor: pointer;
	text-align: center;
	border: 1px solid black;
	border-radius: 2;
	display: table-cell;
	vertical-align: middle;
}
.chk-position{
	width: 60px;
	height: 50px;
	margin: 5px;
	color: black;
	background-color: rgb(185, 185, 185);
	cursor: pointer;
	text-align: center;
	border: 1px solid black;
	display: table-cell;
	vertical-align: middle;
}
.head-text{
	display: flex;
}
.content-submit{
	margin-top: 20px;
	width: 100%;
}
