#mainform{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}

#titleform{
    width: 800px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-size: 30px;
    font-weight: bold;
}

#top_form{
    width: 800px;
    min-height: 730px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.font{
    font-size: 15px;
    font-weight: bold;
    user-select: none;
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.info{
    width: 420px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.inputform{
    width: 250px;
    height: 35px;
}

#stadium_name_form{
    width: 800px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#stadium_addr_form{
    width: 800px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.addr_title{
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addr_info{
    width: 280px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_form{
    width: 140px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#addr_button{
    width: 80px;
    height: 40px;
    border: 0;
    outline: 0;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    background-color: #166cea;
}

#stadium_webaddr_form{
    width: 800px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#stadium_phone_form{
    width: 800px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#stadium_content_form{
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.content_title_form{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}

#content_title{
    width: 180px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    user-select: none;
}

#content_textarea_form{
    width: 800px;
    height: 220px;
    display: flex;
    flex-wrap: wrap;
}

#textarea_form{
    width: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#textarea{
    width: 590px;
    height: 100%;
    resize: none;
    font-family: "Open Sans", Arial, Verdana;
}

#textarea:focus{
    outline: none;
}

#stadium_upload_form{
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#button{
    width: 200px;
    height: 60px;
    border: 0;
    outline: 0;
    font-size: 25px;
    font-weight: bold;
    user-select: none;
    color: white;
    cursor: pointer;
    background-color: #166cea;
}