#mainform{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
}

#titleform{
    width: 900px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-size: 30px;
    font-weight: bold;
}

#top_form{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

#top_left_form{
    width: 500px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#img_form{
    width: 100%;
    height: 340px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#content_form{
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
}

#content{
    width: 450px;
    min-height: 180px;
    overflow: visible;
    border: 0;
    outline: 0;
    resize: none;
    font-family: "Open Sans", Arial, Verdana;
    font-size: 16px;
    cursor: auto;
    background-color: lightgray;
}

#top_right_form{
    width: 400px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#map_form{
    width: 100%;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#map{
    width: 300px;
    height: 300px;
    background-color: azure;
}

#mid_form{
    width: 900px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#info_form{
    width: 850px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}

.info{
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    background-color: lightgray;
}

.mid_title{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
}

.mid_info{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

#bottom_form{
    width: 100%;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
}

#bot_left_form{
    width: 550px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
}

#review_form{
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#review_table{
    width: 540px;
    min-height: 290px;
    display: flex;
    flex-wrap: wrap;
}
.review_list{
    width: 540px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 10px;
    user-select: none;
    cursor: pointer;
    background-color: lightgray;
}
.review_id{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.review_title{
    width: 340px;
    height: 100%;
    display: flex;
    align-items: center;
}
.review_title span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.review_regdate{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#review_paging_form{
    width: 540px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#review_button_form{
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

#bot_right_form{
    width: 350px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

#button_form{
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
}

#update_button_form{
    width: 100px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#delete_button_form{
    width: 100px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#list_button_form{
    width: 100px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.buttons{
    width: 80px;
    height: 40px;
    border: 0;
    outline: 0;
    color: white;
    background-color: dodgerblue;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

#prevbutton{
    margin-right:3px;
    cursor: pointer;
    border: 0;
    outline: 0;
    background-color: #676FA3;
    color: #CDDEFF;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
}
#nextbutton{
    margin-left:3px;
    cursor: pointer;
    border: 0;
    outline: 0;
    background-color: #676FA3;
    color: #CDDEFF;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
}
#pagingnum{
    margin-left:5px;
    margin-right:5px;
    cursor: pointer;
    border: 0;
    outline: 0;
    background-color: #676FA3;
    color: #CDDEFF;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
}

#bot_bottom{
    width: 900px;
    /*height: 400px;*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#bot_review_insert_form{
    width: 890px;
    height: 410px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
}
#insert_review_title{
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.rv_title{
    width: 190px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}
.rv_input_form{
    width: 700px;
    height: 100%;
    display: flex;
    align-items: center;
}
#title_input{
    width: 670px;
    height: 90%;
    border: 0;
    outline: 0;
    font-size: 20px;
    background-color: #8c8c8c;
}
#insert_review_content{
    width: 100%;
    height: 260px;
    display: flex;
    flex-wrap: wrap;
}
#rv_text{
    width: 670px;
    height: 250px;
    font-size: 20px;
    font-family: "Open Sans", Arial, Verdana;
    resize: none;
    border: 0;
    outline: 0;
    background-color: #8c8c8c;
}
#review_insert_button_form{
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
}
.rv_button_form{
    width: 135px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/*<!---->*/
#bot_review_view_form{
    width: 900px;
    height: 410px;
    background-color: lightgray;
    position: relative;
    display: none;
    z-index: 999;
}
#review_view_form{
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
}
#review_view_title{
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
#review_content{
    width: 100%;
    height: 260px;
    display: flex;
    flex-wrap: wrap;
}
#review_view_button_form{
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
}

.rv_buttons_form{
    width: 300px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#review_v_title{
    width: 670px;
    height: 90%;
    border: 0;
    outline: 0;
    font-size: 20px;
    background-color: #8c8c8c;
}

#review_v_content{
    width: 670px;
    height: 250px;
    font-size: 20px;
    font-family: "Open Sans", Arial, Verdana;
    resize: none;
    border: 0;
    outline: 0;
    background-color: #8c8c8c;
}