#mainform{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
}

#titleform{
    width: 900px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-size: 30px;
    font-weight: bold;
}

#searchform{
    width: 900px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#search_box_form{
    width: 300px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#search_box{
    width: 300px;
    height: 30px;
    border: 1px solid black;
}

#search_box #search{
    font-size: 16px;
    width: 280px;
    height: 10px;
    padding:10px;
    border: 0px;
    outline: none;
    float: left;
}

#select_box_form{
    width: 450px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#select_region_form{
    width: 225px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#stadium_region{
    width: 200px;
    height: 30px;
}

#select_detail_form{
    width: 225px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#stadium_detail{
    width: 200px;
    height: 30px;
}

#search_button_form{
    width: 150px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#search_button{
    width: 100px;
    height: 30px;
    border: 0;
    outline: 0;
    background-color: #166cea;
    font-size: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#listform{
    width: 900px;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.list{
    background-color: lightgray;
    width: 900px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
    user-select: none;
    cursor: pointer;
}

.stadium_picture_form{
    width: 300px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.stadium_img{
    width: 200px;
    height: 150px;
}

.stadium_introduce_form{
    width: 600px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#stadium_introduce{
    width: 500px;
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 0;
    outline: 0;
    resize: none;
    font-family: "Open Sans", Arial, Verdana;
    font-size: 16px;
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    background-color: lightgray;
}

*.unselectable {
    -webkit-user-select: none;
}

#pagingform{
    width: 900px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#prevbutton{
    margin-right:3px;
    cursor: pointer;
    border: 0;
    outline: 0;
    background-color: #676FA3;
    color: #CDDEFF;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
}
#nextbutton{
    margin-left:3px;
    cursor: pointer;
    border: 0;
    outline: 0;
    background-color: #676FA3;
    color: #CDDEFF;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
}
#pagingnum{
    margin-left:5px;
    margin-right:5px;
    cursor: pointer;
    border: 0;
    outline: 0;
    background-color: #676FA3;
    color: #CDDEFF;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
}