#mainform{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
}

#titleform{
    width: 900px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-size: 30px;
    font-weight: bold;
}

#searchform{
    width: 900px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#search_box_form{
    width: 300px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#search_box{
    width: 300px;
    height: 30px;
}

#search_box #search{
    font-size: 16px;
    width: 280px;
    height: 10px;
    padding:10px;
    border: 0px;
    outline: none;
    float: left;
}

#select_box_form{
    width: 450px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#select_region_form{
    width: 225px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#stadium_region{
    width: 200px;
    height: 30px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 1.5em;
}

#select_detail_form{
    width: 225px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#stadium_detail{
    width: 200px;
    height: 30px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 1.5em;
}

#search_button_form{
    width: 150px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#search_button{
    width: 100px;
    height: 30px;
    border: 0;
    outline: 0;
    background-color: #bfb5d7;
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

#listform{
    width: 900px;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.list{
    border-bottom: 1px solid lightgray;
    width: 900px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
    user-select: none;
    cursor: pointer;
}

.stadium_picture_form{
    width: 300px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.stadium_img{
    width: 200px;
    height: 150px;
}

.stadium_introduce_form{
    width: 600px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#stadium_introduce{
    width: 500px;
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 0;
    outline: 0;
    resize: none;
    font-family: "Open Sans", Arial, Verdana;
    font-size: 16px;
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

#stadium_insert_button{
    width: 150px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    border: 0;
    outline: 0;
    background-color: #bfb5d7;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

*.unselectable {
    -webkit-user-select: none;
}

#pagingform{
    width: 900px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#pagingform .buttons{
    width: 30px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    outline: 0;
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
    padding: 8px;
}

#prevbutton{
    margin-right:3px;
    cursor: pointer;
    outline: 0;
    background-color: #ffffff;
    border: 1px solid #eee;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
}
#prevbutton:hover{
    color: #CDDEFF;
    background-color: #676FA3;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
#nextbutton{
    margin-left:3px;
    cursor: pointer;
    outline: 0;
    background-color: #ffffff;
    border: 1px solid #eee;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
}
#nextbutton:hover{
    color: #CDDEFF;
    background-color: #676FA3;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
#pagingnum{
    margin-left:5px;
    margin-right:5px;
    cursor: pointer;
    outline: 0;
    background-color: #ffffff;
    border: 1px solid #eee;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
}
#pagingnum:hover{
    color: #CDDEFF;
    background-color: #676FA3;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
#pagingnumClick{
	color: #CDDEFF;
	background-color: #676FA3;
	padding: 1px;
	margin-right: 7px;
	width: 30px;
	height: 30px;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #eee;
	cursor: pointer;
}
#keywordInput{
    font-size: 16px;
    height: 40px;
    width: 360px;
    margin-left: 30px;
    margin-bottom: 2px;
    padding-left: 20px;
    padding-right: 46px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type="text"] {
    margin: 0 0 1em;
    background: #fff;
    border-radius: 1.5em;
    resize: none;
    outline: none;
}
input[type="text"]#keywordInput:focus{
    border-color: #00bafa;
}
input[type="image"]#searchBtn:focus{
    border-color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before {
    color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before,
input[type="text"][required]:valid + label[placeholder]:before {
    transition-duration: 0.2s;
    transform: translate(0, -2em) scale(0.9, 0.9);
}
input[type="text"][required]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
}
input[type="text"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1.25em;
    margin-left: 300px;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
}
input[type="text"][required] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    padding: 0 5px;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
}

#searchBtn{
    padding: 10px;
    margin-left: 390px;
    margin-top: -2px;
    position: absolute;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}

#pointer{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 0 0 2px rgba(211, 211, 211, 0.5) inset;
    margin: auto;
    padding: 1rem 3rem;
    position: relative;
    cursor: pointer;
    margin: -100px;
}
#pointer::before, #pointer::after {
    content: "";
    position: absolute;
    height: 0;
    width: 2px;
    transition: height 0.4s 0.4s cubic-bezier(0.86, 0, 0.07, 1), width 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
#pointer::before {
    box-shadow: 2px 2px 0 #00bafa inset;
    bottom: 0;
    left: 0;
}
#pointer::after {
    box-shadow: -2px -2px 0 #00bafa inset;
    top: 0;
    right: 0;
}
#pointer:hover::before, #pointer:hover::after {
    height: 100%;
    width: 100%;
    border-radius: 0.5em;
    transition: height 0.4s cubic-bezier(0.86, 0, 0.07, 1), width 0.4s 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
*, ::before, ::after{
    box-sizing: inherit;
}

