section.body{
	display: flex;
	justify-content: center;
}
td, th{
	border: 1px solid #eeeeee;
}
.team-logo-pic, .pic_path{
	width: 150px;
	height: 100px;
	object-fit: cover;
}
.main-all-box{
	width: 900px;
}
.table-board-list{
	margin-bottom: 10px;
}
.team-no{
	width: 9%;
	text-align: center;
}
.team-logo{
	width: 15%;
	text-align: center;
}
.team-name{
	width: 49%;
	text-align: center;
}
.team-date{
	width: 14%;
	text-align: center;
}
.content-submit-list{
	margin-right: 125px;
}
#keywordInput{
	font-size: 16px;
	height: 16px;
	width: 300px;
	margin-top: 15px;
	padding: 10px;
	border: 1px solid;
}
#searchOption{
	padding: 10px;
	font-size: 16px;
	height: 40px;
}
#searchBtn{
	padding: 11px;
	padding-top: 8px;
	font-size: 16px;
	width: 51px;
	height: 40px;
	border: 0px;
	background: #1b5ac2;
	color: #ffffff;
	margin-top: 10px;
}