<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  
  	<typeAliases>
  		<typeAlias type="com.mvc.fotsal.model.dto.UserDto" alias="userDto"/>
		<typeAlias type="com.mvc.fotsal.model.dto.GameDto" alias="gameDto"/>
		<typeAlias type="com.mvc.fotsal.model.dto.MercenaryDto" alias="mercenaryDto"/>
		<typeAlias type="com.mvc.fotsal.model.dto.TeamDto" alias="teamDto"/>
		<typeAlias type="com.mvc.fotsal.model.dto.QnaBoardDto" alias="QnaBoardDto"/>
		<typeAlias type="com.mvc.fotsal.model.dto.FaqBoardDto" alias="FaqBoardDto"/>
		<typeAlias type="com.mvc.fotsal.model.dto.PicDto" alias="picDto"/>
		<typeAlias type="com.mvc.fotsal.model.dto.StadiumDto" alias="stadiumDto"/>
		<typeAlias type="com.mvc.fotsal.model.dto.ReviewDto" alias="reviewDto"/>
		<typeAlias type="com.mvc.fotsal.model.dto.GameApplyDto" alias="GameApplyDto"/>
		<typeAlias type="com.mvc.fotsal.model.dto.TeamApplyDto" alias="TeamApplyDto"/>
		
  	</typeAliases>
  	
  	<mappers>
  		<mapper resource="/mybatis/user-mapper.xml" />
		<mapper resource="/mybatis/game_mapper.xml"/>
		<mapper resource="/mybatis/mercenary_mapper.xml"/>
		<mapper resource="/mybatis/team_mapper.xml"/>
		<mapper resource="/mybatis/qnaboard_mapper.xml"/>
		<mapper resource="/mybatis/faqboard_mapper.xml"/>
		<mapper resource="/mybatis/stadium_mapper.xml"/>
		<mapper resource="/mybatis/review_mapper.xml"/>
  	</mappers>
  	
  </configuration>