<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="faqinfo">
	
	<select id="selectList" resultType="FaqBoardDto">
		SELECT *
		FROM FAQ
		ORDER BY FAQ_NO DESC
	</select>
	
	<select id="selectOne" resultType="FaqBoardDto" parameterType="int">
		SELECT * FROM WHERE FAQ_NO = #{faq_no}			
	</select>
	
	<insert id="insert" parameterType="FaqBoardDto">
		INSERT INTO FAQ
		VALUES(FAQ_NOSQ.NEXTVAL, FAQ_GPNOSQ.NEXTVAL, 1, #{faq_title},
		#{faq_content}, #{user_id}, SYSDATE , #{faq_type})
	</insert>
	
	<update id="update" parameterType="FaqBoardDto">
		UPDATE FAQ
		SET FAQ TITLE = #{faq_title}, FAQ_CONTENT = #{faq_content}, FAQ_TYPE = #{faq_type}
		WHERE FAQ_NO = #{faq_no}
	</update>
	
</mapper>