<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GameBoard">
    <select id="GameList" resultType="gameDto" parameterType="com.mvc.fotsal.model.dto.GamePaging">
        SELECT
               GAME_NO, USER_ID, GAME_REGION, GAME_STADIUM, GAME_ADDR, GAME_DATE, GAME_TIME, GAME_PEOPLE, GAME_MERCENARY, GAME_CONTENT, GAME_TYPE
        FROM (  SELECT
                  GAME_NO, USER_ID, GAME_REGION, GAME_STADIUM, GAME_ADDR, GAME_DATE, GAME_TIME, GAME_PEOPLE, GAME_MERCENARY, GAME_CONTENT, GAME_TYPE,
                     ROW_NUMBER() over (ORDER BY GAME_NO DESC) AS rNum
                FROM GAME
            )
        WHERE rNum BETWEEN #{rowStart} AND #{rowEnd}
        ORDER BY GAME_NO DESC
    </select>

    <select id="ddaychk" resultType="int" parameterType="com.mvc.fotsal.model.dto.GamePaging">
        SELECT to_date(GAME_DATE,'YYYY-MM-DD') - to_date(sysdate, 'YYYY-MM-DD') FROM
            (SELECT GAME_NO, GAME_DATE, ROW_NUMBER() over (ORDER BY GAME_NO DESC) AS RNUM
             FROM GAME)
        WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
        ORDER BY GAME_NO DESC
    </select>
    
    <select id="ListCount" resultType="int">
        <![CDATA[
            SELECT COUNT(GAME_NO)
            FROM GAME
            WHERE GAME_NO > 0
            ]]>
    </select>

    <select id="GameDetail" resultType="gameDto" parameterType="int">
        SELECT * FROM GAME WHERE GAME_NO = #{game_no}
    </select>
</mapper>