<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GameBoard">
    <select id="GameList" resultType="gameDto" parameterType="com.mvc.fotsal.paging.GamePaging">
        SELECT
               GAME_NO, USER_ID, GAME_REGION, GAME_STADIUM, GAME_ADDR, GAME_DATE, GAME_TIME, GAME_PEOPLE, GAME_MERCENARY, GAME_CONTENT, GAME_TYPE
        FROM (  SELECT
                  GAME_NO, USER_ID, GAME_REGION, GAME_STADIUM, GAME_ADDR, GAME_DATE, GAME_TIME, GAME_PEOPLE, GAME_MERCENARY, GAME_CONTENT, GAME_TYPE,
                     ROW_NUMBER() over (ORDER BY GAME_NO DESC) AS rNum
                FROM GAME
            )
        WHERE rNum BETWEEN #{rowStart} AND #{rowEnd}
        ORDER BY GAME_NO DESC
    </select>

    <select id="ddaychk" resultType="int" parameterType="com.mvc.fotsal.paging.GamePaging">
        SELECT to_date(GAME_DATE,'YYYY-MM-DD') - to_date(sysdate, 'YYYY-MM-DD') FROM
            (SELECT GAME_NO, GAME_DATE, ROW_NUMBER() over (ORDER BY GAME_NO DESC) AS RNUM
             FROM GAME)
        WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
        ORDER BY GAME_NO DESC
    </select>

    <select id="gametime" resultType="string">
        SELECT GAME_TIME FROM GAME ORDER BY GAME_NO DESC
    </select>

    <select id="gamemercenary" resultType="int" parameterType="com.mvc.fotsal.paging.GamePaging">
        SELECT GAME_MERCENARY FROM
            (SELECT GAME_NO, GAME_MERCENARY, ROW_NUMBER() over (ORDER BY GAME_NO DESC) AS RNUM
             FROM GAME)
        WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
        ORDER BY GAME_NO DESC
    </select>

    <select id="ListCount" resultType="int">
        <![CDATA[
            SELECT COUNT(GAME_NO)
            FROM GAME
            WHERE GAME_NO > 0
            ]]>
    </select>

    <select id="GameDetail" resultType="gameDto" parameterType="int">
        SELECT * FROM GAME WHERE GAME_NO = #{game_no}
    </select>

    <select id="ddaychk_per" resultType="int" parameterType="int">
        SELECT to_date(GAME_DATE,'YYYY-MM-DD') - to_date(sysdate, 'YYYY-MM-DD') FROM GAME
        WHERE GAME_NO = #{game_no}
    </select>

    <select id="gametime_per" resultType="String" parameterType="int">
        SELECT GAME_TIME FROM GAME WHERE GAME_NO = #{game_no}
    </select>

    <select id="gamemercenary_per" resultType="int" parameterType="int">
        SELECT GAME_MERCENARY FROM GAME WHERE GAME_NO = ${game_no}
    </select>

    <select id="commentlist" resultType="com.mvc.fotsal.model.dto.GameAskDto" parameterType="map">
        SELECT ASK_NO, GAME_NO, ASK_TYPE, ASK_GPNO, ASK_GPSQ, USER_ID, ASK_CONTENT, ASK_REG, ASK_STATUS
        FROM
            (
                SELECT ASK_NO, GAME_NO, ASK_TYPE, ASK_GPNO, ASK_GPSQ, USER_ID, ASK_CONTENT, ASK_REG, ASK_STATUS,
                       ROW_NUMBER() over (ORDER BY ASK_GPNO DESC ) AS RNUM
                FROM GAME_ASK where GAME_NO = #{game_no} ORDER BY ASK_GPNO DESC, ASK_GPSQ
            )
        WHERE RNUM BETWEEN #{gameAskDto.rowStart} AND #{gameAskDto.rowEnd}
          AND GAME_NO = ${game_no}
        ORDER BY ASK_GPNO DESC, ASK_GPSQ
    </select>

    <select id="CommentListCount" resultType="int">
        <![CDATA[
        SELECT COUNT(ASK_NO)
        FROM GAME_ASK
        WHERE ASK_NO > 0
        AND GAME_NO = #{game_no}
        ]]>
    </select>

    <insert id="commentinsert" parameterType="com.mvc.fotsal.model.dto.GameAskDto">
        INSERT INTO GAME_ASK VALUES (ASK_NOSQ.nextval, #{game_no}, #{ask_type}, ASK_GPNOSQ.nextval, 1, #{user_id}, #{ask_content}, sysdate, 'N')
    </insert>

    <insert id="rpcommentinsert" parameterType="com.mvc.fotsal.model.dto.GameAskDto">
        INSERT INTO GAME_ASK VALUES (ASK_NOSQ.nextval, #{game_no}, #{ask_type}, #{ask_gpno}, #{ask_gpsq} + 1, #{user_id}, #{ask_content}, sysdate, #{ask_status})
    </insert>

    <update id="rpstatusupdate" parameterType="com.mvc.fotsal.model.dto.GameAskDto">
        UPDATE GAME_ASK SET ASK_STATUS = 'Y' WHERE ASK_NO = #{ask_no}
    </update>

    <select id="user_id" parameterType="map" resultType="String">
        SELECT USER_ID FROM
        (SELECT GAME_NO, ASK_GPNO, ASK_GPSQ, USER_ID, ROW_NUMBER() over (ORDER BY ASK_GPNO DESC) AS RNUM FROM GAME_ASK  where GAME_NO = #{game_no} ORDER BY ASK_GPNO DESC, ASK_GPSQ)
        WHERE RNUM BETWEEN #{gameAskDto.rowStart} AND #{gameAskDto.rowEnd}
        AND GAME_NO = #{game_no}
        ORDER BY ASK_GPNO DESC, ASK_GPSQ
    </select>

    <select id="ask_status" parameterType="map" resultType="String">
        SELECT ASK_STATUS FROM
        (SELECT GAME_NO, ASK_GPNO, ASK_GPSQ, ASK_STATUS, ROW_NUMBER() over (ORDER BY ASK_GPNO DESC) AS RNUM FROM GAME_ASK where GAME_NO = #{game_no} ORDER BY ASK_GPNO DESC, ASK_GPSQ)
        WHERE RNUM BETWEEN #{gameAskDto.rowStart} AND #{gameAskDto.rowEnd}
        AND GAME_NO = #{game_no}
        ORDER BY ASK_GPNO DESC, ASK_GPSQ
    </select>

    <select id="ask_no" parameterType="map" resultType="int">
        SELECT ASK_NO FROM
            (SELECT ASK_NO, GAME_NO, ASK_GPNO, ASK_GPSQ, ROW_NUMBER() over (ORDER BY ASK_GPNO DESC) AS RNUM FROM GAME_ASK where GAME_NO = #{game_no} ORDER BY ASK_GPNO DESC, ASK_GPSQ)
        WHERE RNUM BETWEEN #{gameAskDto.rowStart} AND #{gameAskDto.rowEnd}
        AND GAME_NO = ${game_no}
        ORDER BY ASK_GPNO DESC, ASK_GPSQ
    </select>

    <select id="ask_gpno" parameterType="map" resultType="int">
        SELECT ASK_GPNO FROM
        (SELECT ASK_NO, GAME_NO, ASK_GPNO, ASK_GPSQ, ROW_NUMBER() over (ORDER BY ASK_GPNO DESC) AS RNUM FROM GAME_ASK where GAME_NO = #{game_no} ORDER BY ASK_GPNO DESC, ASK_GPSQ)
        WHERE RNUM BETWEEN #{gameAskDto.rowStart} AND #{gameAskDto.rowEnd}
        AND GAME_NO = #{game_no}
        ORDER BY ASK_GPNO DESC, ASK_GPSQ
    </select>

    <select id="ask_gpsq" parameterType="map" resultType="int">
        SELECT ASK_GPSQ FROM
        (SELECT ASK_NO, GAME_NO, ASK_GPNO, ASK_GPSQ, ROW_NUMBER() over (ORDER BY ASK_GPNO DESC ) AS RNUM FROM GAME_ASK where GAME_NO = #{game_no} ORDER BY ASK_GPNO DESC, ASK_GPSQ)
        WHERE RNUM BETWEEN #{gameAskDto.rowStart} AND #{gameAskDto.rowEnd}
        AND GAME_NO = #{game_no}
        ORDER BY ASK_GPNO DESC, ASK_GPSQ
    </select>

    <delete id="deletecomment" parameterType="com.mvc.fotsal.model.dto.GameAskDto">
        DELETE FROM GAME_ASK WHERE ASK_NO = #{ask_no}
    </delete>

    <insert id="gameinsert" parameterType="gameDto">
        INSERT INTO GAME VALUES
        (GAME_NOSQ.nextval, #{user_id}, #{game_region}, #{game_stadium}, #{game_addr},
         #{game_date}, #{game_time}, #{game_people}, #{game_mercenary}, #{game_content}, #{game_type})
         <selectKey keyProperty="game_no" resultType="Integer" order="AFTER">
             SELECT GAME_NOSQ.currval FROM DUAL
         </selectKey>
    </insert>

    <update id="gameupdate" parameterType="gameDto">
        UPDATE GAME SET GAME_REGION = #{game_region}, GAME_STADIUM = #{game_stadium}, GAME_ADDR = #{game_addr}, GAME_DATE = #{game_date}, GAME_TIME = #{game_time},
                        GAME_PEOPLE = #{game_people}, GAME_MERCENARY = #{game_mercenary}, GAME_CONTENT = #{game_content}, GAME_TYPE = #{game_type} WHERE GAME_NO = ${game_no}
    </update>

    <delete id="gamedelete" parameterType="int">
        DELETE GAME WHERE GAME_NO = #{game_no}
    </delete>
</mapper>