<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mercenary_info">

	<resultMap type="mercenaryDto" id="mercenaryMap">
		<result property="game_no" column="GAME_NO" />
		<result property="user_no" column="USER_NO" />
		<result property="mercenary_foot" column="MERCENARY_FOOT" />
		<result property="mercenary_intro" column="MERCENARY_INTRO" />
		<result property="mercenary_rate" column="MERCENARY_RATE" />
		<result property="mercenary_position" column="MERCENARY_POSITION" />
	</resultMap>
	
	
	<select id="selectListT" resultMap="mercenaryMap">
		SELECT t.TEAM_NO, u.USER_NO, m.USER_NO, m.MERCENARY_FOOT, m.MERCENARY_INTRO, m.MERCENARY_RATE, m.MERCENARY_POSITION
		FROM MERCENARY_INFO m
		LEFT JOIN USER_INFO u ON m.USER_NO = u.USER_NO
		LEFT JOIN TEAM_INFO t ON m.USER_NO = t.TEAM_NO 
		WHERE m.USER_NO = #{user_no} AND t.TEAM_NO = #{team_no}
		ORDER BY m.USER_NO DESC
	</select>
	
	
	<select id="selectOne" resultType="mercenaryDto" parameterType="int">
		SELECT m.USER_NO, m.MERCENARY_FOOT, m.MERCENARY_INTRO, m.MERCENARY_RATE, m.MERCENARY_POSITION, u.USER_ID
		FROM MERCENARY_INFO m
		LEFT JOIN USER_INFO u ON m.USER_NO = u.USER_NO 
		WHERE m.USER_NO = #{user_no}
		ORDER BY USER_NO DESC
	</select>
	
	<insert id="insert" parameterType="mercenaryDto">
		MERGE INTO MERCENARY_INFO m
		     USING dual
		        ON (m.USER_NO = #{user_no})
		
		WHEN NOT MATCHED THEN
		    INSERT(m.USER_NO, m.MERCENARY_INTRO, m.MERCENARY_FOOT, m.MERCENARY_RATE, m.MERCENARY_POSITION)
		    VALUES(#{user_no}, #{mercenary_intro}, #{mercenary_foot}, 0, #{mercenary_position})
	</insert>
	
	
	<update id="update" parameterType="mercenaryDto">
		UPDATE MERCENARY_INFO
		SET MERCENARY_INTRO=#{mercenary_intro}, MERCENARY_FOOT=#{mercenary_foot}, 
		MERCENARY_RATE=#{mercenary_rate}, MERCENARY_POSITION=#{mercenary_position}
		WHERE USER_NO = #{user_no}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE MERCENARY_INFO
		WHERE USER_NO=#{user_no}
	</delete>
	



</mapper>