<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mercenaryInfo">
	
	<insert id="insert" parameterType="mercenaryDto">
		INSERT INTO MERCENARY_INFO
		VALUES(#{user_no}, #{mercenary_intro}, #{mercenary_foot}, 0, #{mercenary_position})
	</insert>
	




</mapper>