<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qnainfo">
	
	<select id="selectList" resultType="QnaBoardDto">
		SELECT QNA_NO, USER_ID, QNA_TITLE, QNA_CONTENT, QNA_REG
		FROM QNA
		ORDER BY QNA_NO DESC
	</select>
	
	<select id="selectOne" resultType="QnaBoardDto" parameterType="int">
		SELECT QNA_NO, QNA_TYPE, USER_ID, QNA_TITLE, QNA_CONTENT FROM QNA WHERE QNA_NO = #{qna_no}			
	</select>
	
	<insert id="insert" parameterType="QnaBoardDto">
		INSERT INTO QNA
		VALUES(QNA_NOSQ.NEXTVAL, QNA_GPNOSQ.NEXTVAL, 1, #{qna_title}, #{qna_content}, #{user_id}, SYSDATE , #{qna_type})
	</insert>
	
	<update id="update" parameterType="QnaBoardDto">
		UPDATE QNA
		SET QNA_TITLE = #{qna_title}, QNA_CONTENT = #{qna_content}, QNA_TYPE = #{qna_type}
		WHERE QNA_NO = #{qna_no}
	</update>
</mapper>