<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StadiumBoard">
    <select id="user" parameterType="com.mvc.fotsal.model.dto.UserDto" resultType="com.mvc.fotsal.model.dto.UserDto">
        SELECT * FROM USER_INFO WHERE USER_ID = #{user_id}
    </select>

    <insert id="insert" parameterType="userDto">
        INSERT INTO STADIUM VALUES
        (STADIUM_NOSQ.nextval, #{stadium_name}, #{stadium_addr}, #{stadium_content}, #{stadium_webaddr}, #{stadium_phonenum})
        <selectKey keyProperty="stadium_no" resultType="Integer" order="AFTER">
            SELECT STADIUM_NOSQ.nextval FROM DUAL
        </selectKey>
    </insert>

    <select id="stadiumlist" resultType="stadiumDto" parameterType="com.mvc.fotsal.paging.StadiumSearch">
        SELECT s.STADIUM_NO, s.STADIUM_NAME, s.STADIUM_ADDR, s.STADIUM_CONTENT, s.STADIUM_WEBADDR, s.STADIUM_PHONENUM,
            max(p.PIC_PATH) AS PIC_PATH
        FROM (SELECT
                  STADIUM_NO, STADIUM_NAME, STADIUM_ADDR, STADIUM_CONTENT, STADIUM_WEBADDR, STADIUM_PHONENUM,
                     ROW_NUMBER() over (ORDER BY STADIUM_NO DESC) AS RNUM
            FROM STADIUM
            WHERE 1=1
            <include refid="search"></include>
            ) s
        LEFT JOIN STADIUM_PIC p ON s.STADIUM_NO = p.STADIUM_NO
        WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
        group by s.STADIUM_NO, s.STADIUM_NAME, s.STADIUM_ADDR, s.STADIUM_CONTENT, s.STADIUM_WEBADDR, s.STADIUM_PHONENUM
        ORDER BY STADIUM_NO DESC
    </select>

    <select id="listCount" resultType="int" parameterType="com.mvc.fotsal.paging.StadiumSearch">
        SELECT COUNT(STADIUM_NO)
        FROM STADIUM
        WHERE 1=1
            <include refid="search"></include>
        AND STADIUM_NO > 0
    </select>

    <sql id="search">
        <if test="searchType != null">
            <if test="searchType == 't'.toString()">AND STADIUM_NAME LIKE '%' || #{keyword} || '%' AND STADIUM_ADDR LIKE '%' || #{addr} || '%'</if>
        </if>
    </sql>

    <select id="stadiumdetail" parameterType="stadiumDto" resultType="stadiumDto">
        SELECT * FROM STADIUM WHERE STADIUM_NO = #{stadium_no}
    </select>

    <update id="stadiumupdate" parameterType="stadiumDto">
        UPDATE STADIUM SET STADIUM_NAME = #{stadium_name}, STADIUM_ADDR = #{stadium_addr},
                           STADIUM_CONTENT = #{stadium_content}, STADIUM_WEBADDR = #{stadium_webaddr},
                           STADIUM_PHONENUM = #{stadium_phonenum}
                        WHERE STADIUM_NO = #{stadium_no}
    </update>

    <delete id="stadiumdelete" parameterType="int">
        DELETE STADIUM WHERE STADIUM_NO = #{stadium_no}
    </delete>

    <select id="FindNo" parameterType="stadiumDto" resultType="int">
        SELECT STADIUM_NO FROM STADIUM WHERE STADIUM_NAME = #{stadium_name}
    </select>

    <insert id="Insert_IMG" parameterType="picDto">
        INSERT INTO STADIUM_PIC VALUES (#{boardno}, #{pic_name}, #{pic_path})
    </insert>

    <select id="IMG_List" parameterType="stadiumDto" resultType="picDto">
        SELECT * FROM STADIUM_PIC WHERE STADIUM_NO = #{stadium_no}
    </select>
</mapper>