<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StadiumBoard">
    <select id="user" parameterType="userDto" resultType="userDto">
        SELECT * FROM USER_INFO WHERE USER_ID = #{user_id}
    </select>

    <insert id="insert" parameterType="userDto">
        INSERT INTO STADIUM VALUES
        (STADIUM_NOSQ.nextval, #{stadium_name}, #{stadium_addr}, #{stadium_content}, #{stadium_webaddr}, #{stadium_phonenum})
        <selectKey keyProperty="stadium_no" resultType="Integer" order="AFTER">
            SELECT STADIUM_NOSQ.nextval FROM DUAL
        </selectKey>
    </insert>

    <select id="stadiumlist" resultType="stadiumDto" parameterType="com.mvc.fotsal.paging.StadiumPaging">
        SELECT STADIUM_NO, STADIUM_NAME, STADIUM_ADDR, STADIUM_CONTENT, STADIUM_WEBADDR, STADIUM_PHONENUM
        FROM (SELECT
                  STADIUM_NO, STADIUM_NAME, STADIUM_ADDR, STADIUM_CONTENT, STADIUM_WEBADDR, STADIUM_PHONENUM,
                     ROW_NUMBER() over (ORDER BY STADIUM_NO DESC) AS RNUM
            FROM STADIUM
            )
        WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
        ORDER BY STADIUM_NO DESC
    </select>

    <select id="listCount" resultType="int">
        <![CDATA[
            SELECT COUNT(STADIUM_NO)
            FROM STADIUM
            WHERE STADIUM_NO > 0
        ]]>
    </select>

    <select id="stadiumdetail" parameterType="stadiumDto" resultType="stadiumDto">
        SELECT * FROM STADIUM WHERE STADIUM_NO = #{stadium_no}
    </select>

    <update id="stadiumupdate" parameterType="stadiumDto">
        UPDATE STADIUM SET STADIUM_NAME = #{stadium_name}, STADIUM_ADDR = #{stadium_addr},
                           STADIUM_CONTENT = #{stadium_content}, STADIUM_WEBADDR = #{stadium_webaddr},
                           STADIUM_PHONENUM = #{stadium_phonenum}
                        WHERE STADIUM_NO = #{stadium_no}
    </update>

    <delete id="stadiumdelete" parameterType="int">
        DELETE STADIUM WHERE STADIUM_NO = #{stadium_no}
    </delete>

</mapper>