<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team_info">
	
	<resultMap type="teamDto" id="teamBoardMap">
		<result property="team_no" column="TEAM_NO" />
		<result property="user_no" column="USER_NO" />
		<result property="pic_path" column="PIC_PATH" />
		<result property="team_name" column="TEAM_NAME" />
		<result property="team_addchk" column="TEAM_ADDCHK" />
	</resultMap>
	
	
	<select id="selectList" resultMap="teamBoardMap">
		SELECT t.TEAM_NO, t.USER_NO, p.PIC_PATH, t.TEAM_NAME, t.TEAM_INTRO, t.TEAM_ADDCHK
		FROM TEAM_INFO t 
		LEFT JOIN TEAM_PIC p ON t.TEAM_NO = p.TEAM_NO
		ORDER BY TEAM_NO DESC
	</select>
	
	<select id="selectOne" resultType="teamDto" parameterType="int">
		SELECT t.TEAM_NO, t.USER_NO, p.PIC_PATH, t.TEAM_NAME, t.TEAM_INTRO, t.TEAM_ADDCHK
		FROM TEAM_INFO t
		LEFT JOIN TEAM_PIC p ON t.TEAM_NO = p.TEAM_NO
		WHERE t.TEAM_NO = #{team_no}
		ORDER BY TEAM_NO DESC
	</select>

	<insert id="insert" parameterType="teamDto">
		INSERT INTO TEAM_INFO
		VALUES(#{user_no},#{team_name},#{team_intro},TEAM_NOSQ.NEXTVAL,#{team_addchk})
	</insert>

	<update id="update" parameterType="teamDto">
		UPDATE TEAM_INFO
		SET TEAM_NAME=#{team_name}, TEAM_INTRO=#{team_intro}, TEAM_ADDCHK=#{team_addchk}
		WHERE TEAM_NO=#{team_no}
	</update>




</mapper>