<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team_info">
	
	<resultMap type="teamDto" id="teamBoardMap">
		<result property="team_no" column="TEAM_NO" />
		<result property="user_no" column="USER_NO" />
		<result property="pic_path" column="PIC_PATH" />
		<result property="team_name" column="TEAM_NAME" />
		<result property="team_addchk" column="TEAM_ADDCHK" />
	</resultMap>
	
	<select id="selectList" resultMap="teamBoardMap"  parameterType="com.mvc.fotsal.paging.TeamSearch">
		SELECT t.TEAM_NO, t.USER_NO, p.PIC_PATH, t.TEAM_INTRO, t.TEAM_NAME, t.TEAM_ADDCHK, u.USER_ID
		FROM (SELECT TEAM_NO, USER_NO, TEAM_INTRO, TEAM_NAME, TEAM_ADDCHK,
				ROW_NUMBER() OVER(ORDER BY TEAM_NO DESC) AS rNum FROM TEAM_INFO
				WHERE 1=1
				<include refid="search"></include> 
				) t
		LEFT JOIN TEAM_PIC p ON t.TEAM_NO = p.TEAM_NO
		LEFT JOIN USER_INFO u ON t.USER_NO = u.USER_NO
		WHERE rNum BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY TEAM_NO DESC
	</select>
	
	<select id="listCount" resultType="int" parameterType="com.mvc.fotsal.paging.TeamSearch">
			SELECT COUNT(TEAM_NO)
			FROM TEAM_INFO
			WHERE 1=1
		<include refid="search"></include>
			AND TEAM_NO > 0
	</select>
	

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'w'.toString()">AND USER_ID LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 't'.toString()">AND TEAM_NAME LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND TEAM_ADDCHK LIKE '%' || #{keyword} || '%'</if>
		</if>
	</sql>

	
	<select id="selectOne" resultType="teamDto" parameterType="int">
		SELECT t.TEAM_NO, t.USER_NO, p.PIC_PATH, t.TEAM_NAME, t.TEAM_INTRO, t.TEAM_ADDCHK, u.USER_PHONE, u.USER_ID 
		FROM TEAM_INFO t
		LEFT JOIN TEAM_PIC p ON t.TEAM_NO = p.TEAM_NO
		LEFT JOIN USER_INFO u ON t.USER_NO = u.USER_NO
		WHERE t.TEAM_NO = #{team_no}
		ORDER BY TEAM_NO DESC
	</select>

	<insert id="insert" parameterType="teamDto">
		INSERT INTO TEAM_INFO
		VALUES(#{user_no},#{team_name},#{team_intro},TEAM_NOSQ.NEXTVAL,#{team_addchk})
	</insert>

	<update id="updatePic" parameterType="picDto">
		UPDATE TEAM_PIC
		SET PIC_PATH=#{pic_path}, PIC_NAME=#{pic_name}
		WHERE TEAM_NO=#{boardno}
	</update>
	
	<update id="update" parameterType="teamDto">
		UPDATE TEAM_INFO
		SET TEAM_NAME=#{team_name}, TEAM_INTRO=#{team_intro}, TEAM_ADDCHK=#{team_addchk}
		WHERE TEAM_NO=#{team_no}
	</update>
	
	
	<delete id="delete" parameterType="int">
		DELETE TEAM_INFO
		WHERE TEAM_NO=#{team_no}
	</delete>

	<insert id="insert_pic" parameterType="picDto">
		INSERT INTO TEAM_PIC
		VALUES(#{boardno},#{pic_name},#{pic_path})
	</insert>
	
	<select id="findNo" parameterType="teamDto" resultType="teamDto">
		SELECT *
		FROM TEAM_INFO
		WHERE TEAM_NAME=#{team_name}
	</select>

</mapper>