<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userinfo">
	
	<select id="login" parameterType="userDto" resultType="userDto">
		SELECT USER_NO, USER_ID, USER_PW, USER_NAME, USER_PHONE
		FROM USER_INFO
		WHERE USER_ID = #{user_id}
	</select>
	
	<insert id="insert" parameterType="userDto">
		INSERT INTO USER_INFO
		VALUES(USER_NOSQ.NEXTVAL,#{user_id},#{user_pw},#{user_name},#{user_gender},#{user_birthdate},#{user_email},#{user_phone},#{user_zip},#{user_addr},'USER')
	</insert>
	
	<select id="idchk" resultType="_int">
		SELECT * FROM USER_INFO WHERE USER_ID=#{user_id}
	</select>
	
	<select id="findid" parameterType="userDto" resultType="userDto">
		SELECT * FROM USER_INFO WHERE USER_EMAIL=#{user_email} AND USER_PHONE=#{user_phone}
	</select>
	
	<select id="changepw" parameterType="userDto" resultType="_int">
		SELECT * FROM USER_INFO WHERE USER_EMAIL=#{user_email} AND USER_PHONE=#{user_phone} AND USER_ID=#{user_id}
	</select>
	
	<update id="changepwinput" parameterType="userDto">
		UPDATE USER_INFO
		SET USER_PW=#{user_pw}
		WHERE USER_ID=#{user_id}
	</update>
	
	<select id="selectOne" resultType="userDto">
		SELECT *
		FROM USER_INFO
		WHERE USER_ID = #{user_id}
	</select>
	
	<update id="update" parameterType="userDto">
		UPDATE USER_INFO
		SET USER_EMAIL = #{user_email}, USER_PHONE = #{user_phone}, USER_ZIP = #{user_zip}, USER_ADDR = #{user_addr}
		WHERE USER_ID = #{user_id}
	</update>
	
	<delete id="delete">
		DELETE FROM USER_INFO
		WHERE USER_ID=#{user_id}
	</delete>
	
</mapper>