<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userinfo">
	
	<resultMap type="userDto" id="userMap">
		<result property="user_no" column="USER_NO" />
		<result property="user_id" column="USER_ID" />
		<result property="user_pw" column="USER_PW" />
		<result property="user_name" column="USER_NAME" />
		<result property="user_gender" column="USER_GENDER" />
		<result property="user_birthdate" column="USER_BIRTHDATE" />
		<result property="user_email" column="USER_EMAIL" />
		<result property="user_phone" column="USER_PHONE" />
		<result property="user_zip" column="USER_ZIP" />
		<result property="user_addr" column="USER_ADDR" />
		<result property="user_role" column="USER_ROLE" />
		<result property="user_conchk" column="USER_CONCHK" />
	</resultMap>
	
	<select id="login" parameterType="userDto" resultType="userDto">
		SELECT USER_NO, USER_ID, USER_PW, USER_NAME, USER_PHONE
		FROM USER_INFO
		WHERE USER_ID = #{user_id}
	</select>
	
	<insert id="insert" parameterType="userDto">
		INSERT INTO USER_INFO
		VALUES(USER_NOSQ.NEXTVAL,#{user_id},#{user_pw},#{user_name},#{user_gender},#{user_birthdate},#{user_email},#{user_phone},#{user_zip},#{user_addr},'USER',#{user_conchk})
	</insert>
	
	<select id="idchk" resultType="_int">
		SELECT * FROM USER_INFO WHERE USER_ID=#{user_id}
	</select>
	
	<select id="findid" parameterType="userDto" resultType="userDto">
		SELECT * FROM USER_INFO WHERE USER_EMAIL=#{user_email} AND USER_PHONE=#{user_phone}
	</select>
	
	<select id="changepw" parameterType="userDto" resultType="_int">
		SELECT * FROM USER_INFO WHERE USER_EMAIL=#{user_email} AND USER_PHONE=#{user_phone} AND USER_ID=#{user_id}
	</select>
	
	<update id="changepwinput" parameterType="userDto">
		UPDATE USER_INFO
		SET USER_PW=#{user_pw}
		WHERE USER_ID=#{user_id}
	</update>
	
	<select id="selectOne" resultType="userDto">
		SELECT *
		FROM USER_INFO
		WHERE USER_ID = #{user_id}
	</select>
	
	<update id="update" parameterType="userDto">
		UPDATE USER_INFO
		SET USER_EMAIL = #{user_email}, USER_PHONE = #{user_phone}, USER_ZIP = #{user_zip}, USER_ADDR = #{user_addr}
		WHERE USER_ID = #{user_id}
	</update>
	
	<delete id="delete">
		DELETE FROM USER_INFO
		WHERE USER_ID=#{user_id}
	</delete>
	
	<select id="conchk" resultType="Map" parameterType="Map">
		SELECT USER_EMAIL,USER_CONCHK FROM USER_INFO WHERE USER_EMAIL = #{email}
	</select>
	
	<update id="naverlogset" parameterType="Map">
		UPDATE USER_INFO SET USER_ID = #{id} WHERE USER_EMAIL = #{email}
	</update>
	
	<select id="naverlogin" resultType="userDto" parameterType="Map">
		SELECT * FROM USER_INFO WHERE USER_EMAIL = #{email} AND USER_ID = #{id}
	</select>
	
	<select id="kconchk" resultType="Map" parameterType="Map">
		SELECT USER_EMAIL,USER_CONCHK FROM USER_INFO WHERE USER_EMAIL = #{email}
	</select>
	
	<update id="kakaologset" parameterType="Map">
		UPDATE USER_INFO SET USER_ID = #{id} WHERE USER_EMAIL = #{email}
	</update>
	
	<select id="kakaologin" resultType="userDto" parameterType="Map">
		SELECT * FROM USER_INFO WHERE USER_EMAIL = #{email} AND USER_ID = #{id}
	</select>
		
</mapper>